.container {
    max-width: 736px;
    margin: 0 auto;
}
@media (max-width: 766px) {
    .container {
        padding: 0 30px;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #191919;
    min-width: 220px;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

input,
button {
    font-family: 'Inter', sans-serif;
    border: none;
    outline: none;
}