.main-form {
    display: flex;
    flex-wrap: wrap;
    max-height: 104px;
    position: relative;
    bottom: 26px;
    margin-bottom: 64px;
}

.main-form-input,
.main-form-button {
    min-height: 52px;
    max-height: 52px;
}

.main-form-input {
    flex-grow: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    border-radius: 8px;
    background-color: #262626;
    border: 1px solid #0D0D0D;
    color: #808080;
    margin-right: 8px;
    padding: 16px;
}

.main-form-button {
    display: flex;
    align-items: center;
    background: #1E6F9F;
    border-radius: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #F2F2F2;
    padding: 16px;
}

.main-form-button-text{
    margin-right: 8px;
}

.main-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.main-info-added-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #4EA8DE;
    margin-right: 8px;
}

.main-info-completed-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #8284FA;
    margin-right: 8px;
}

.main-info-added-quantity,
.main-info-completed-quantity {
    padding: 2px 8px;
    background-color: #333333;
    border-radius: 999px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #D9D9D9;
}

.main-empty {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding-top: 64px;
    border-top: 1px solid #333333;
    border-radius: 8px;
}

.main-empty-text {
    font-size: 16px;
    line-height: 22px;
    color: #808080;
    margin-top: 16px;
}

.main-empty-text-inner {
    font-weight: 700;
}

.main-tasks-list-item {
    display: flex;
    background: #262626;
    border: 1px solid #333333;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 12px;
}

.main-tasks-list-item-state {
    padding: 19.27px 15.27px 35.27px 19.27px;
}

.main-tasks-list-item-state-text {
    align-self: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #F2F2F2;
}

.main-tasks-list-item-delete {
    padding: 21px 21.52px 37px 18px;
}